<h1>Sessions#welcome</h1>
<p>Find me in app/views/sessions/welcome.html.erb</p>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.name %></h1>
<%end%>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", new_user_path %>