<h1>Event's show page</h1>

<h2>Hello <%= current_user.name %> </h2>

<p> This is the list of Attendees to <%= current_user.invitations.name %> </p>

<ul>
<% current_user.attended_events.each do |attend| %>

<li><%= attend.event_name %>


<% end %>

</ul>

<%= link_to 'Back', users_path %>